In [ ]:
__getitem__

Nazwy metod specjalnych pozwalają naszym obiektom na implementację i obsługę
podstawowych konstrukcji języka oraz interakcję z nimi. Przykładami podstawowych
konstrukcji języka są:
• iteracja
• kolekcje
• dostęp do atrybutów
• przeciążanie operatorów
• wywoływanie funkcji i metod
• tworzenie i niszczenie obiektów
• reprezentacja i formatowanie łańcuchów
• konteksty zarządzane (tj. bloki with)

In [ ]:
import collections
from random import choice

Card = collections.namedtuple('Card',['rank','suit'])

class Talia:
  ranks = [str(n) for n in range(2,11)] + list('JQKA')
  suits = 'spades diamonds clubs hearts'.split()

  def __init__(self):
    self._cards = [Card(rank,suit) for suit in self.suits
                                     for rank in self.ranks]
  
  def __len__(self):
    return len(self._cards)
  
  def __getitem__(self,position):
    return self._cards[position]


karta = Card('7','hearts')
karta

deck = Talia()
len(deck)
deck[0]
deck[-1]
choice(deck)
deck[12::13]
# for card in deck:
#   print(card)

# for card in reversed(deck):
#   print(card)

Card("A",'hearts') in deck

kolory = dict(spades=3,hearts=2,diamonds=1,clubs=0)

def najw(card):
  wartosc = Talia.ranks.index(card.rank)
  return wartosc * len(kolory) + kolory[card.suit]

for card in sorted(deck, key=najw):
  print(card)

Card(rank='2', suit='clubs')
Card(rank='2', suit='diamonds')
Card(rank='2', suit='hearts')
Card(rank='2', suit='spades')
Card(rank='3', suit='clubs')
Card(rank='3', suit='diamonds')
Card(rank='3', suit='hearts')
Card(rank='3', suit='spades')
Card(rank='4', suit='clubs')
Card(rank='4', suit='diamonds')
Card(rank='4', suit='hearts')
Card(rank='4', suit='spades')
Card(rank='5', suit='clubs')
Card(rank='5', suit='diamonds')
Card(rank='5', suit='hearts')
Card(rank='5', suit='spades')
Card(rank='6', suit='clubs')
Card(rank='6', suit='diamonds')
Card(rank='6', suit='hearts')
Card(rank='6', suit='spades')
Card(rank='7', suit='clubs')
Card(rank='7', suit='diamonds')
Card(rank='7', suit='hearts')
Card(rank='7', suit='spades')
Card(rank='8', suit='clubs')
Card(rank='8', suit='diamonds')
Card(rank='8', suit='hearts')
Card(rank='8', suit='spades')
Card(rank='9', suit='clubs')
Card(rank='9', suit='diamonds')
Card(rank='9', suit='hearts')
Card(rank='9', suit='spades')
Card(rank='10', suit='clubs')
Card(rank='10', suit='diamonds')
Card(rank='10', suit='hearts')
Card(rank='10', suit='spades')
Card(rank='J', suit='clubs')
Card(rank='J', suit='diamonds')
Card(rank='J', suit='hearts')
Card(rank='J', suit='spades')
Card(rank='Q', suit='clubs')
Card(rank='Q', suit='diamonds')
Card(rank='Q', suit='hearts')
Card(rank='Q', suit='spades')
Card(rank='K', suit='clubs')
Card(rank='K', suit='diamonds')
Card(rank='K', suit='hearts')
Card(rank='K', suit='spades')
Card(rank='A', suit='clubs')
Card(rank='A', suit='diamonds')
Card(rank='A', suit='hearts')
Card(rank='A', suit='spades')

collections.namedtuple służy do konstrukcji prostej klasy reprezentującej poszczególne karty.
nie piszemy wywołania metody specjalnej w stylu Talia.__len__()
a piszemy ją opakowując klasę - len(Talia)

Reprezentacja tekstowa/
bajtowa __repr__, __str__, __format__, __bytes__
Konwersja na liczbę __abs__, __bool__, __complex__, __int__, __float__,
__hash__, __index__
Emulacja kolekcji __len__, __getitem__, __setitem__, __delitem__,
__contains__ Iteracja __iter__, __reversed__, __next__
Emulacja wywoływalności __call__
Zarządzanie kontekstem __enter__, __exit__
Tworzenie i niszczenie wystąpienia __new__, __init__, __del__
Zarządzanie atrybutami __getattr__, __getattribute__, __setattr__,
__delattr__, __dir__
Deskryptory atrybutów __get__, __set__, __delete__ 
Usługi klasy __prepare__, __instancecheck__, __subclasscheck__

Jednoargumentowe
operatory numeryczne
__neg__ -, __pos__ +, __abs__ abs()
Bogate operatory
porównania
__lt__ >, __le__ <=, __eq__ ==, __ne__ !=, __gt__ >,
__ge__ >=
Operatory
arytmetyczne
__add__ +, __sub__ -, __mul__ *, __truediv__ /,
__floordiv__ //, __mod__ %, __divmod__ divmod() ,
__pow__ ** lub pow(), __round__ round()
Odwrócone operatory
arytmetyczne
__radd__, __rsub__, __rmul__, __rtruediv__,
__rfloordiv__, __rmod__, __rdivmod__, __rpow__
Złożone arytmetyczne
operatory przypisania
__iadd__, __isub__, __imul__, __itruediv__,
__ifloordiv__, __imod__, __ipow__
Operatory bitowe
__invert__ ~, __lshift__ <<, __rshift__ >>, __and__ &,
__or__ |, __xor__ ^
Odwrócone operatory
bitowe
__rlshift__, __rrshift__, __rand__, __rxor__, __ror__
Złożone bitowe
operatory przypisania
__ilshift__, __irshift__, __iand__, __ixor__, __ior__

In [ ]:
import array

# symbols = '$¢£¥€¤'
# codes = []
# for s in symbols:
#     codes.append(ord(s))

# codes

# symbols = '$¢£¥€¤'
# codes = [ord(symbol) for symbol in symbols]

# codes

# symbols = '$¢£¥€¤'
# codes = [ord(symbol) for symbol in symbols if ord(symbol) > 127]

# codes

symbols = '$¢£¥€¤'
codes = list(filter(lambda c: c > 127, map(ord, symbols)))
tuple(ord(symbol) for symbol in symbols)
array.array("I", (ord(s) for s in symbols))
array


# codes

Wyrażenia listowe mogą generować listy na podstawie produktu kartezjańskiego dwóch
obiektów iterowalnych lub większej ich liczby. Elementy, które składają się na produkt kartezjański
to krotki powstałe z elementów pochodzących z każdego wejściowego obiektu
iterowalnego.

In [ ]:
colors = ['black','white']
sizes = ['S','M','L']
#tshirts = [(color,size) for color in colors for size in sizes]
#tshirts = [(color,size) for size in sizes for color in colors]

for tshirt in ('%s %s'%(c,s) for c in colors for s in sizes):
    print(tshirt)

# for color in colors:
#     for size in sizes:
#         print((color,size))

black S
black M
black L
white S
white M
white L

Krotki mają podwójną rolę: mogą służyć jako niezmienne

---


listy, a także jako rekordy bez nazw pól.

In [ ]:
coord = (33.9425,-118.408056)
city, year,pop,chg,area = ('Warsaw', 2019, 98765, 0.66,2234)
loty = [('USA','54763'), ('RUS','76432'),('TKO','84323')]

# for pas in sorted(loty):
#     print('%s --> %s' % pas)

# for kraj, _ in loty:
#     print(kraj)

#lat,longit = coord

*a,b,c = range(9)
a,b,c

([0, 1, 2, 3, 4, 5, 6], 7, 8)

Rozpakowywanie zagnieżdzonych krotek

In [ ]:
pip install fmt

Collecting fmt
  Downloading fmt-0.3.1-py2.py3-none-any.whl (8.1 kB)
Installing collected packages: fmt
Successfully installed fmt-0.3.1

In [ ]:
# (a,b,c,(d,e))
from collections import namedtuple

Miasto = namedtuple('Miasto','miasto kraj liczba kord')
tokyo = Miasto('Tokyo', 'JP', 36.933,(35.689722, 139.691667))

tokyo
tokyo.liczba
tokyo.kord
tokyo[1]
Miasto._fields

data = ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
paulo = Miasto._make(data)
paulo._asdict()
for k,v in paulo._asdict().items():
    print(k + ":", v)

# areas=[
# ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
# ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
# ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
# ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
# ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
# ]

# print('{:15} | {:^9} | {:^9}'.format('miasto','lat.','long.'))
# fmt = '{:15} | {:9.4f} | {:9.4f}'


# for m,k,l,(lat,lon) in areas:
#     if lat <= 0:
#         print(fmt.format(m,lat,lon))


l = [11,22,33,44,55,66]
l[:2]
l[2:]

s = 'rower'
s[::3]
s[::-1]
s[::-2]

miasto: Sao Paulo
kraj: BR
liczba: 19.649
kord: (-23.547778, -46.635833)

'rwr'

In [ ]:
text = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                 $17.50       3      $52.5
1489  6mm Tactile Switch x20             $4.95       2      $9.9
1510  Panavise Jr. - PV-201             $28.00       1      $28.
1601  PiTFT Mini Kit 320x240            $34.95       1      $34.95
"""
ID = slice(0,6)
OPIS = slice(6,40)
CENA_J = slice(40,52)
ILOSC = slice(52,55)
TOTAL = slice(55, None)

line = text.split('\n')[2:]
for i in line:
    print(i[CENA_J],i[OPIS])



# lista[a:b, c:d]
# lista[i,...] == lista[i,:,:,:]

$17.50       Pimoroni PiBrella
 $4.95       6mm Tactile Switch x20
$28.00       Panavise Jr. - PV-201
$34.95       PiTFT Mini Kit 320x240

In [ ]:
l = list(range(10))
l[2:5] = [20,30]
del l[5:7]
l[3::2] = [11,22]
# l[2:5] = 100 musi być obiekt iterowalny
k = [1,2,3]
k * 5
5 * '123'

'123123123123123'

In [ ]:
#dziwny_board = [['_'] * 3] * 3
#board = [['_'] * 3 for i in range(3)]


#board[1][2] = 'X'
#dziwny_board[1][2] = 'X'
# board 
#dziwny_board

row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)

board[1][2] = 'X'
#print(board[1][2])


# board = []
# for i in range(3):
#     row = ['_'] * 3
#     board.append(row)

# board[1][2] = 'X'
# board

X

In [ ]:
# __iadd__
# __add__
# a += b
# przy iadd = a.extend(b)
import dis


l = [1,2,3]
print(id(l))

l *= 2

print(id(l))

t = (1,2,3)
print(id(t))
t *= 2
print(id(t))

dis.dis('s[a] += b')

140534945617712
140534945617712
140534953241168
140534953254256
  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

In [ ]:
owoce = ['banan','jabłko','porzeczka','mango']
sorted(owoce)
owoce
sorted(owoce, reverse=True)
sorted(owoce, key=len)
sorted(owoce, key=len,reverse=True)
print(owoce.sort())
owoce

None

['banan', 'jabłko', 'mango', 'porzeczka']

In [ ]:
from array import array
from random import random
import numpy as np
from numpy import savetxt

floats = array('d',(random() for i in range(10**7)))
floats[-1]
#fp = open('liczby.bin', 'wb')
np.savetxt('plik.txt',floats,delimiter='')
fp.close()
# floats2 = array('d')
# fp = open('liczby.bin','rb')
# floats2.fromfile(fp,10**7)
# fp.close()
# floats2[-1]
# floats == floats2

In [ ]:
import numpy as np

a = np.arange(12)
type(a)
a.shape = 3,4
a[2,1]
a[:,1]
a.transpose()

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [ ]:
import numpy as np
from time import perf_counter as pc

floats = np.loadtxt('plik.txt')
#floats[-3:]
floats *= .5 
floats[-3:]
t0 = pc(); floats /=3; pc() - t0
np.save('floats-10M',floats)
floats2 = np.load('floats-10M.npy','r+')
floats2 *= 6
floats2[-3:]

memmap([0.25464012, 0.11494195, 0.1922472 ])

In [ ]:
from collections import deque

dq = deque(range(10), maxlen=10)
dq.rotate(-3)
dq.appendleft(-1)
dq.extend([11,22,33])
dq.extendleft([10,20,30,40])
dq

deque([40, 30, 20, 10, 5, 6, 7, 8, 9, 0])